In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('C:\DevN\DSlab2\Energy+Indicators.xls')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015

In [4]:


df = pd.read_excel('C:\DevN\DSlab2\Energy+Indicators.xls', header=16, skipfooter=38)

In [5]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Energy Supply,Energy Supply per capita,Renewable Electricity Production
0,NaN,NaN,NaN,Petajoules,Gigajoules,%
1,NaN,Afghanistan,Afghanistan,321,10,78.6693
2,NaN,Albania,Albania,102,35,100
3,NaN,Algeria,Algeria,1959,51,0.55101
4,NaN,American Samoa,American Samoa,...,...,0.641026

In [6]:
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Energy Supply,Energy Supply per capita,Renewable Electricity Production
223,NaN,Viet Nam,Viet Nam,2554,28,45.3215
224,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0
225,NaN,Yemen,Yemen,344,13,0
226,NaN,Zambia,Zambia,400,26,99.7147
227,NaN,Zimbabwe,Zimbabwe,480,32,52.5361

In [7]:
df=df.drop(0)

In [8]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Energy Supply,Energy Supply per capita,Renewable Electricity Production
1,NaN,Afghanistan,Afghanistan,321,10,78.6693
2,NaN,Albania,Albania,102,35,100
3,NaN,Algeria,Algeria,1959,51,0.55101
4,NaN,American Samoa,American Samoa,...,...,0.641026
5,NaN,Andorra,Andorra,9,121,88.6957

In [9]:
df.drop(['Unnamed: 0','Unnamed: 1'], axis = 1)

,Unnamed: 2,Energy Supply,Energy Supply per capita,Renewable Electricity Production
1,Afghanistan,321,10,78.6693
2,Albania,102,35,100
3,Algeria,1959,51,0.55101
4,American Samoa,...,...,0.641026
5,Andorra,9,121,88.6957
...,...,...,...,...
223,Viet Nam,2554,28,45.3215
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344,13,0
226,Zambia,400,26,99.7147
227,Zimbabwe,480,32,52.5361

In [10]:
df.rename(columns={'Unnamed: 2': 'Country', 'Renewable Electricity Production': '% Renewable'}, inplace=True)

In [11]:
df.head()

,Unnamed: 0,Unnamed: 1,Country,Energy Supply,Energy Supply per capita,% Renewable
1,NaN,Afghanistan,Afghanistan,321,10,78.6693
2,NaN,Albania,Albania,102,35,100
3,NaN,Algeria,Algeria,1959,51,0.55101
4,NaN,American Samoa,American Samoa,...,...,0.641026
5,NaN,Andorra,Andorra,9,121,88.6957

In [12]:
df=df.drop(['Unnamed: 0','Unnamed: 1'], axis = 1)

In [13]:
df.head()

          Country Energy Supply Energy Supply per capita % Renewable
1     Afghanistan           321                       10     78.6693
2         Albania           102                       35         100
3         Algeria          1959                       51     0.55101
4  American Samoa           ...                      ...    0.641026
5         Andorra             9                      121     88.6957

In [14]:
df.tail()

,Country,Energy Supply,Energy Supply per capita,% Renewable
223,Viet Nam,2554,28,45.3215
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344,13,0
226,Zambia,400,26,99.7147
227,Zimbabwe,480,32,52.5361

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 1 to 227
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             227 non-null    object
 2   Energy Supply per capita  227 non-null    object
 3   % Renewable               227 non-null    object
dtypes: object(4)
memory usage: 8.9+ KB

In [16]:
import numpy as np

In [17]:
df=df.replace('...', np.NaN)

In [18]:
df.head()

          Country  Energy Supply  Energy Supply per capita  % Renewable
1     Afghanistan          321.0                      10.0    78.669280
2         Albania          102.0                      35.0   100.000000
3         Algeria         1959.0                      51.0     0.551010
4  American Samoa            NaN                       NaN     0.641026
5         Andorra            9.0                     121.0    88.695650

In [19]:
df['Energy Supply']= 1000000 * df['Energy Supply']

In [20]:
df.head()

          Country  Energy Supply  Energy Supply per capita  % Renewable
1     Afghanistan   3.210000e+08                      10.0    78.669280
2         Albania   1.020000e+08                      35.0   100.000000
3         Algeria   1.959000e+09                      51.0     0.551010
4  American Samoa            NaN                       NaN     0.641026
5         Andorra   9.000000e+06                     121.0    88.695650

In [21]:
#removing numbers from string
df['Country'] = df['Country'].str.replace('\d+', '')

In [22]:
#removing parantheses and inside text of parantheses
df['Country'] = df['Country'].str.replace(r"\(.*\)","")

In [23]:
df['Country'].tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia ',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'China, Hong Kong Special Administrative Region',
 'China, Macao Special Administrative Region',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands ',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran ',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia ',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Réunion',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten ',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav Republic of Macedonia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela ',
 'Viet Nam',
 'Wallis and Futuna Islands',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [24]:
df["Country"].replace({"Republic of Korea": "South Korea", "United States of America": "United States",
                      "United Kingdom of Great Britain and Northern Ireland":"United Kingdom","China, Hong Kong Special Administrative Region": "Hong Kong",
                      'Iran ':'Iran'}, inplace=True)

In [25]:
df['Country'].tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia ',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Hong Kong',
 'China, Macao Special Administrative Region',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands ',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia ',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'South Korea',
 'Republic of Moldova',
 'Réunion',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten ',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav Republic of Macedonia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela ',
 'Viet Nam',
 'Wallis and Futuna Islands',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [26]:
#reading world bank file and skipping headers
df1=pd.read_csv('C:\DevN\DSlab2\world_bank.csv',header=4)

In [27]:
df1.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [28]:
df1['Country Name'].tolist()

['Aruba',
 'Andorra',
 'Afghanistan',
 'Angola',
 'Albania',
 'Arab World',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Central Europe and the Baltics',
 'Switzerland',
 'Channel Islands',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Caribbean small states',
 'Cuba',
 'Curacao',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union',
 'Fragile and conflict affected situations',
 'Finland',
 'Fiji',
 'France',
 'Faroe Islands',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'High income',
 'Hong Kong SAR, China',
 'Honduras',
 'Heavily indebted poor countries (HIPC)',
 'Croatia',
 'Haiti',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'Indonesia',
 'IDA only',
 'Isle of Man',
 'India',
 'Not classified',
 'Ireland',
 'Iran, Islamic Rep.',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Liechtenstein',
 'Sri Lanka',
 'Lower middle income',
 'Low & middle income',
 'Lesotho',
 'Late-demographic dividend',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'St. Martin (French part)',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Middle East & North Africa',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'Macedonia, FYR',
 'Mali',
 'Malta',
 'Myanmar',
 'Middle East & North Africa (excluding high income)',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'OECD members',
 'Oman',
 'Other small states',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Korea, Dem. People’s Rep.',
 'Portugal',
 'Paraguay',
 'Pacific island small states',
 'Post-demographic dividend',
 'French Polynesia',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'South Asia',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Serbia',
 'Sub-Saharan Africa (excluding high income)',
 'South Sudan',
 'Sub-Saharan Africa',
 'Small states',
 'Sao Tome and Principe',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Sint Maarten (Dutch part)',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Timor-Leste',
 'Tonga',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Upper middle income',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Venezuela, RB',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Vietnam',
 'Vanuatu',
 'West Bank and Gaza',
 'World',
 'Samoa',
 'Yemen, Rep.',
 'South Africa',
 'Congo, Dem. Rep.',
 'Zambia',
 'Zimbabwe']

In [29]:
df1["Country Name"].replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}, inplace=True)

In [30]:
df1['Country Name'].tolist()

['Aruba',
 'Andorra',
 'Afghanistan',
 'Angola',
 'Albania',
 'Arab World',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Central Europe and the Baltics',
 'Switzerland',
 'Channel Islands',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Caribbean small states',
 'Cuba',
 'Curacao',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union',
 'Fragile and conflict affected situations',
 'Finland',
 'Fiji',
 'France',
 'Faroe Islands',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'High income',
 'Hong Kong',
 'Honduras',
 'Heavily indebted poor countries (HIPC)',
 'Croatia',
 'Haiti',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'Indonesia',
 'IDA only',
 'Isle of Man',
 'India',
 'Not classified',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'South Korea',
 'Kosovo',
 'Kuwait',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Liechtenstein',
 'Sri Lanka',
 'Lower middle income',
 'Low & middle income',
 'Lesotho',
 'Late-demographic dividend',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'St. Martin (French part)',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Middle East & North Africa',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'Macedonia, FYR',
 'Mali',
 'Malta',
 'Myanmar',
 'Middle East & North Africa (excluding high income)',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'OECD members',
 'Oman',
 'Other small states',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Korea, Dem. People’s Rep.',
 'Portugal',
 'Paraguay',
 'Pacific island small states',
 'Post-demographic dividend',
 'French Polynesia',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'South Asia',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Serbia',
 'Sub-Saharan Africa (excluding high income)',
 'South Sudan',
 'Sub-Saharan Africa',
 'Small states',
 'Sao Tome and Principe',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Sint Maarten (Dutch part)',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Timor-Leste',
 'Tonga',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Upper middle income',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Venezuela, RB',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Vietnam',
 'Vanuatu',
 'West Bank and Gaza',
 'World',
 'Samoa',
 'Yemen, Rep.',
 'South Africa',
 'Congo, Dem. Rep.',
 'Zambia',
 'Zimbabwe']

In [31]:
df1.rename(columns={'Country Name': 'Country'}, inplace=True)

In [32]:
df1.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [33]:
df2=pd.read_excel('C:\DevN\DSlab2\scimagojr-3.xlsx')

In [34]:
df2.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [35]:
display('df', 'df1','df2',
        "pd.merge(df, df1,df2, left_index=True)")

'df'

'df1'

'df2'

'pd.merge(df, df1,df2, left_index=True)'

In [36]:

 df3 = pd.merge(pd.merge(df, df1, on='Country'), df2, on='Country')

In [37]:
temp_df=pd.merge(df,df1,on='Country')

In [38]:
pd.merge(temp_df,df2,on='Country')

,Country,Energy Supply,Energy Supply per capita,% Renewable,Country Code,Indicator Name,Indicator Code,1960,1961,1962,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Afghanistan,3.210000e+08,10.0,78.669280,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,1.973134e+10,1.999032e+10,2.029415e+10,163,3,3,0,0,0.00,0
1,Albania,1.020000e+08,35.0,100.000000,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,1.254247e+10,1.279331e+10,1.312082e+10,118,23,23,168,14,7.30,6
2,Algeria,1.959000e+09,51.0,0.551010,DZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.744286e+10,2.370914e+10,1.904199e+10,...,1.763249e+11,1.830252e+11,1.901632e+11,42,1215,1197,7393,1413,6.08,40
3,American Samoa,NaN,NaN,0.641026,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,NaN,NaN,NaN,180,1,1,0,0,0.00,0
4,Andorra,9.000000e+06,121.0,88.695650,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,3.127550e+09,NaN,NaN,168,2,2,13,0,6.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,United States,9.083800e+10,286.0,11.570980,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.078071e+12,3.148867e+12,3.340948e+12,...,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230
157,Uruguay,1.960000e+08,58.0,71.605040,URY,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.389822e+10,1.424471e+10,1.402042e+10,...,4.589732e+10,4.738384e+10,4.784927e+10,91,71,70,728,80,10.25,15
158,Uzbekistan,1.798000e+09,62.0,21.328410,UZB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,4.977761e+10,5.380959e+10,5.811436e+10,96,57,56,158,45,2.77,7
159,Zambia,4.000000e+08,26.0,99.714670,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,...,2.420595e+10,2.542227e+10,2.624127e+10,123,19,19,14,1,0.74,2
160,Zimbabwe,4.800000e+08,32.0,52.536120,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,...,1.218064e+10,1.264939e+10,1.278517e+10,119,22,21,27,1,1.23,3

In [39]:
df3.head()

,Country,Energy Supply,Energy Supply per capita,% Renewable,Country Code,Indicator Name,Indicator Code,1960,1961,1962,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Afghanistan,3.210000e+08,10.0,78.669280,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,1.973134e+10,1.999032e+10,2.029415e+10,163,3,3,0,0,0.00,0
1,Albania,1.020000e+08,35.0,100.000000,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,1.254247e+10,1.279331e+10,1.312082e+10,118,23,23,168,14,7.30,6
2,Algeria,1.959000e+09,51.0,0.551010,DZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.744286e+10,2.370914e+10,1.904199e+10,...,1.763249e+11,1.830252e+11,1.901632e+11,42,1215,1197,7393,1413,6.08,40
3,American Samoa,NaN,NaN,0.641026,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,NaN,NaN,NaN,180,1,1,0,0,0.00,0
4,Andorra,9.000000e+06,121.0,88.695650,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,...,3.127550e+09,NaN,NaN,168,2,2,13,0,6.50,1

In [40]:
df4=df3.set_index('Country')

In [41]:
df4.head()

,Energy Supply,Energy Supply per capita,% Renewable,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.210000e+08,10.0,78.669280,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,...,1.973134e+10,1.999032e+10,2.029415e+10,163,3,3,0,0,0.00,0
Albania,1.020000e+08,35.0,100.000000,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,...,1.254247e+10,1.279331e+10,1.312082e+10,118,23,23,168,14,7.30,6
Algeria,1.959000e+09,51.0,0.551010,DZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.744286e+10,2.370914e+10,1.904199e+10,2.557600e+10,...,1.763249e+11,1.830252e+11,1.901632e+11,42,1215,1197,7393,1413,6.08,40
American Samoa,NaN,NaN,0.641026,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,180,1,1,0,0,0.00,0
Andorra,9.000000e+06,121.0,88.695650,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,...,3.127550e+09,NaN,NaN,168,2,2,13,0,6.50,1

In [42]:
df4=df4.drop(df4.loc[:, 'Country Code':'2005'].columns, axis = 1)

In [43]:
#df4 = df4.sort(['Rank'], ascending=[True])

In [44]:
df4=df4.sort_values('Rank')

In [45]:
df4

,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
United States,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230
Japan,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
United Kingdom,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139
Russian Federation,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Maldives,1.500000e+07,43.0,0.00000,1.862196e+09,2.063143e+09,2.320557e+09,2.192661e+09,2.323402e+09,2.525755e+09,2.588810e+09,2.710479e+09,2.886134e+09,2.929826e+09,183,1,1,1,0,1.00,1
Belize,1.300000e+07,39.0,64.69003,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09,185,1,1,6,0,6.00,1
Palau,3.000000e+06,152.0,18.75000,2.074094e+08,2.072990e+08,1.957150e+08,1.779528e+08,1.838000e+08,1.930672e+08,1.992454e+08,1.943911e+08,2.026654e+08,2.216412e+08,186,1,1,0,0,0.00,0
Guyana,3.400000e+07,45.0,0.00000,1.919759e+09,2.054533e+09,2.095143e+09,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09,187,1,1,0,0,0.00,0
Mauritania,5.100000e+07,13.0,0.00000,4.025616e+09,4.139051e+09,4.183751e+09,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN,191,1,1,1,0,1.00,1

In [46]:
df5 = df4.loc[(df4["Rank"] < 16)]

In [47]:
df5

,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230
Japan,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
United Kingdom,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139
Russian Federation,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
Canada,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
Germany,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
India,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
South Korea,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
Spain,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115
Iran,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,13,8896,8819,57470,19125,6.46,72
Australia,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86

In [48]:
df5=df5.sort_values('Rank')

In [49]:
df5

,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230
Japan,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
United Kingdom,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139
Russian Federation,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
Canada,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
Germany,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
India,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
South Korea,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
Spain,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115
Iran,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,13,8896,8819,57470,19125,6.46,72
Australia,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86

In [50]:
#Q2 Length before readucing and after reducing
len(df4)-len(df5)

146

In [51]:
df5.shape

(15, 20)

In [52]:
#df5['avg GDP'] = df.mean(axis=1)

In [53]:
#Q3
df6=df5[["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]].apply(np.mean,axis = 1).sort_values(ascending = False)

In [54]:
df6

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [55]:
#Q5
df5['Energy Supply per capita'].mean()

157.6

In [56]:
#Q6
df5.groupby('Country')['% Renewable'].sum().nlargest(1)

Country
Brazil    69.64803
Name: % Renewable, dtype: float64

In [57]:
#Q7
df5['Ratio Citations']=df5['Self-citations']/df5['Citations']

In [58]:
df5

,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Ratio Citations
Country,,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138,0.689313
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230,0.335031
Japan,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134,0.275997
United Kingdom,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139,0.183773
Russian Federation,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57,0.362517
Canada,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,...,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149,0.190369
Germany,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,...,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126,0.195111
India,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,...,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115,0.288973
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,...,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114,0.218943
South Korea,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,...,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104,0.197035
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,...,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106,0.238364
Spain,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,...,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115,0.194299
Iran,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,...,4.639027e+11,NaN,13,8896,8819,57470,19125,6.46,72,0.332782
Australia,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,...,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107,0.171939
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,...,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86,0.237159

In [59]:
#Q7
df5.groupby('Country')['Ratio Citations'].sum().nlargest(1)

Country
China    0.689313
Name: Ratio Citations, dtype: float64

In [60]:
#Q8
df5['Polpulation']=df5['Energy Supply']/df5['Energy Supply per capita']

In [61]:
df5.head()

,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,...,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Ratio Citations,Polpulation
Country,,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,8.797999e+12,1,127050,126767,597237,411683,4.70,138,0.689313,1.367645e+09
United States,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,1.654857e+13,2,96661,94747,792274,265436,8.20,230,0.335031,3.176154e+08
Japan,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,5.669563e+12,3,30504,30287,223024,61554,7.31,134,0.275997,1.274094e+08
United Kingdom,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,2.666333e+12,4,20944,20357,206091,37874,9.84,139,0.183773,6.387097e+07
Russian Federation,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,1.616149e+12,5,18534,18301,34266,12422,1.85,57,0.362517,1.435000e+08

In [62]:
df5.groupby('Country')['Polpulation'].sum().nlargest(3)

Country
China            1.367645e+09
India            1.276731e+09
United States    3.176154e+08
Name: Polpulation, dtype: float64

In [72]:
df6=df5

In [74]:
df6=df6.sort_values('Polpulation', ascending=[False])

In [75]:
df6

,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,...,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Ratio Citations,Polpulation
Country,,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,8.797999e+12,1,127050,126767,597237,411683,4.70,138,0.689313,1.367645e+09
India,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,...,2.367206e+12,8,15005,14841,128763,37209,8.58,115,0.288973,1.276731e+09
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,1.654857e+13,2,96661,94747,792274,265436,8.20,230,0.335031,3.176154e+08
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,...,2.319423e+12,15,8668,8596,60702,14396,7.00,86,0.237159,2.059153e+08
Russian Federation,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,1.616149e+12,5,18534,18301,34266,12422,1.85,57,0.362517,1.435000e+08
Japan,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,5.669563e+12,3,30504,30287,223024,61554,7.31,134,0.275997,1.274094e+08
Germany,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,...,3.685556e+12,7,17027,16831,140566,27426,8.26,126,0.195111,8.036970e+07
Iran,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,...,NaN,13,8896,8819,57470,19125,6.46,72,0.332782,7.707563e+07
United Kingdom,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,2.666333e+12,4,20944,20357,206091,37874,9.84,139,0.183773,6.387097e+07
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,...,2.761185e+12,9,13153,12973,130632,28601,9.93,114,0.218943,6.383735e+07
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,...,2.049316e+12,11,10964,10794,111850,26661,10.20,106,0.238364,5.990826e+07
South Korea,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,...,1.266580e+12,10,11983,11923,114675,22595,9.57,104,0.197035,4.980543e+07
Spain,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,...,1.419821e+12,12,9428,9330,123336,23964,13.08,115,0.194299,4.644340e+07
Canada,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,...,1.792609e+12,6,17899,17620,215003,40930,12.01,149,0.190369,3.523986e+07
Australia,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,...,1.301251e+12,14,8831,8725,90765,15606,10.28,107,0.171939,2.331602e+07

In [76]:
df6.iloc[2].name

'United States'

In [77]:
#Q9
df6['CitablesPerPerson']=df6['Citable documents']/df6['Polpulation']

In [79]:
df6['CitablesPerPerson'].corr(df6['Energy Supply per capita'])

0.7940010435442942

In [80]:
#Q10
df6['% Renewable'].median()

17.02028

In [85]:
df6.rename(columns={'% Renewable': 'PercentageRenewable'}, inplace=True)

In [87]:
df6['RenewableAsPerMedian']=np.where(((df6.PercentageRenewable >= 17.02028)),'1','0')

In [88]:
df6

,Energy Supply,Energy Supply per capita,PercentageRenewable,2006,2007,2008,2009,2010,2011,2012,...,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Ratio Citations,Polpulation,CitablesPerPerson,RenewableAsPerMedian
Country,,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,127050,126767,597237,411683,4.70,138,0.689313,1.367645e+09,0.000093,1
India,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,...,15005,14841,128763,37209,8.58,115,0.288973,1.276731e+09,0.000012,0
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,96661,94747,792274,265436,8.20,230,0.335031,3.176154e+08,0.000298,0
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,...,8668,8596,60702,14396,7.00,86,0.237159,2.059153e+08,0.000042,1
Russian Federation,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,18534,18301,34266,12422,1.85,57,0.362517,1.435000e+08,0.000128,1
Japan,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,30504,30287,223024,61554,7.31,134,0.275997,1.274094e+08,0.000238,0
Germany,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,...,17027,16831,140566,27426,8.26,126,0.195111,8.036970e+07,0.000209,1
Iran,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,...,8896,8819,57470,19125,6.46,72,0.332782,7.707563e+07,0.000114,0
United Kingdom,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,20944,20357,206091,37874,9.84,139,0.183773,6.387097e+07,0.000319,0
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,...,13153,12973,130632,28601,9.93,114,0.218943,6.383735e+07,0.000203,1
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,...,10964,10794,111850,26661,10.20,106,0.238364,5.990826e+07,0.000180,1
South Korea,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,...,11983,11923,114675,22595,9.57,104,0.197035,4.980543e+07,0.000239,0
Spain,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,...,9428,9330,123336,23964,13.08,115,0.194299,4.644340e+07,0.000201,1
Canada,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,...,17899,17620,215003,40930,12.01,149,0.190369,3.523986e+07,0.000500,1
Australia,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,...,8831,8725,90765,15606,10.28,107,0.171939,2.331602e+07,0.000374,0

In [89]:
ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe', 'Russian Federation':'Europe', 'Canada':'North America',
 'Germany':'Europe',
 'India':'Asia',
 'France':'Europe',
 'South Korea':'Asia',
 'Italy':'Europe',
 'Spain':'Europe',
 'Iran':'Asia',
 'Australia':'Australia',
 'Brazil':'South America'}

In [94]:
df7=pd.DataFrame(ContinentDict.items())#dict to dataframe
df7.columns=['Country','Continent']#dataframe columns
df7.groupby('Continent').groups#groupby and get groups

{'Asia': [0, 2, 7, 9, 12], 'Australia': [13], 'Europe': [3, 4, 6, 8, 10, 11], 'North America': [1, 5], 'South America': [14]}

In [97]:
df6.rename(index=ContinentDict,inplace=True)
df6.reset_index(inplace = True)
functions = ['size', 'sum', 'mean', 'std']
result = df6[['Country','Polpulation']].groupby('Country').agg(functions)

In [98]:
result

              Polpulation
                     size           sum          mean           std
Country
Asia                    5  2.898666e+09  5.797333e+08  6.790979e+08
Australia               1  2.331602e+07  2.331602e+07           NaN
Europe                  6  4.579297e+08  7.632161e+07  3.464767e+07
North America           2  3.528552e+08  1.764276e+08  1.996696e+08
South America           1  2.059153e+08  2.059153e+08           NaN